$this: '.autosuggester';

#{$this}-input-mirror {
    position: absolute !important;
    overflow: auto !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    top: 0 !important;
    left: -9999px !important;
}

#{$this}-box-container {
    position: absolute;
    z-index: 9;
}

#{$this}-box {
    display: none;
    border: 1px solid #bbb;
    background-color: #fff;
    position: relative;
    z-index: 3;
    max-height: 150px;
    width: 318px;
    overflow-y: scroll;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 6px #ccc;
    margin-top: 4px;
}

#{$this}-box-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#{$this}-box-list-item {
    padding: 8px;
    border-bottom: 1px solid #eaeaea;
}

#{$this}-box-list-item-value {
    font-weight: bold;
}

#{$this}-box-list-item-active {
    background-color: #f5f5f5;
    cursor: pointer;
}

#{$this}-box-list-item-active #{$this}-box-list-item-value {
    color: #8ab858;
}
