$this: '.autosuggester';

#{$this}-input-mirror {
    position: absolute !important;
    top: 0 !important;
    left: -9999px !important;
    overflow: auto !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}

#{$this}-box-container {
    position: absolute;
    z-index: 9;
}

#{$this}-box {
    position: relative;
    z-index: 3;
    display: none;
    max-width: 400px;
    max-height: 250px;
    margin-top: 3px;
    overflow-y: scroll;
    background-color: var(--content-bg);
    border: 1px solid var(--content-border);
    border-radius: var(--border-radius);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
}

#{$this}-box-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#{$this}-box-list-item {
    padding: 10px 15px;
    border-bottom: 1px solid var(--content-border);
    line-height: 1.2;
}

#{$this}-box-list-item-value {
    margin-bottom: 3px;
    font: 300 .75rem/1.25 SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

#{$this}-box-list-item-content {
    color: var(--info);
    font-size: .75rem;
}

#{$this}-box-list-item-active {
    background-color: var(--hover-row);
    cursor: pointer;
}
